@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  line-height: 1.25;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
}

.nav {
  z-index: 2;
  position: fixed;
  top: 1rem;
  left: 1rem;
  width: calc(100% - 2rem);
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0);
}
.nav .label {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.6rem;
}
.nav .label h1 {
  font-size: 1.65em;
  font-weight: 600;
}
.nav .btns {
  -webkit-backdrop-filter: blur(0);
  backdrop-filter: blur(0);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  align-self: center;
  justify-self: center;
}
.nav .btns a {
  color: black;
  text-decoration: none;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  letter-spacing: 0.02em;
  cursor: pointer;
  transition: 0.2s;
}
.nav .btns a:hover {
  opacity: 0.75;
}
.nav .burgerMenu {
  padding: 0.4rem;
  display: none;
  border-radius: 0.6rem;
  background: rgba(25, 25, 25, 0.1);
}
.nav .signs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.nav .signs a {
  color: black;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  font-size: 1em;
  letter-spacing: 0.02em;
  background-color: rgba(223, 223, 223, 0);
  cursor: pointer;
  transition: 0.4s;
}
.nav .signs a:hover {
  opacity: 0.75;
}
.nav .signs .signUp {
  padding: 0.6rem;
  border: 0.1rem solid rgb(238, 238, 238);
  border-radius: 0.6rem;
  cursor: pointer;
}
.nav .signsMenu {
  padding: 0.4rem;
  display: none;
  border-radius: 0.6rem;
  background: rgba(25, 25, 25, 0.1);
}

.head {
  padding-top: 6rem;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.head .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.head .info .text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.head .info .text h1 {
  font-weight: 700;
  font-size: 3.45em;
  line-height: 110%;
  text-align: center;
  text-transform: uppercase;
}
.head .info .text p {
  text-align: center;
}
.head .info a {
  padding: 1rem 2rem;
  width: 10.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 0.02em;
  background: linear-gradient(90.59deg, #504DE2 13.95%, #3E7EFB 69.14%), #424242;
  border-radius: 16px;
  transition: 0.4s;
}
.head .info a:hover {
  opacity: 0.75;
}
.head .logo {
  padding-top: 6rem;
}
.head .logo img {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}
.head .heading {
  padding: 0 10rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.head .heading .info {
  align-items: flex-start;
}
.head .heading .info .text h1 {
  text-align: start;
  font-size: 2em;
}
.head .heading .info .text p {
  text-align: start;
  font-size: 1em;
}
.head .heading .item {
  box-sizing: border-box;
  width: 530px;
  height: 350px;
  border: 1px solid rgba(25, 25, 25, 0.1);
  border-radius: 18px;
}

@media screen and (max-width: 1060px) {
  .nav .btns {
    display: none !important;
  }
  .nav .burgerMenu {
    display: flex !important;
    order: -1;
  }
}
@media screen and (max-width: 720px) {
  .nav {
    padding: 0 1rem;
    width: 100%;
    left: 0;
    border-radius: 0;
  }
  .nav .signs {
    display: none !important;
  }
  .nav .signsMenu {
    display: flex !important;
  }
}
@media screen and (max-width: 560px) {
  .nav .label h1 {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
